.avatar {
  display: flex;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-surface-container);
}

.image {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fallback {
  font-family: var(--label-large-font-family);
  font-size: var(--label-large-font-size);
  font-weight: 600;
  color: var(--color-on-surface);
}
