.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-family: var(--headline-medium-font-family);
  font-size: var(--headline-medium-font-size);
  font-weight: 600;
  color: var(--color-on-surface);
  margin: 0;
}
